body{
    margin: 0% 5%;
}
h1{
    color: red;
}

.line{
    border-bottom: 9px solid red;
    border-radius: 5px;
    width: 60px;
   
}
.person{
    display: inline-block;
    width: 30%;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.2);
}
.person img{
    width: 100%;
    height: auto;
}
div.image1{
    padding: 15px;
    text-align: ltr;
    
}
.second-child{
    margin-right: 3%;
    margin-left: 3%;
}